* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Myriad pro, sans-serif;
    background-color: black;
}


header {
    display: flex;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-image: url(https://marcyperlaan.github.io/migaleria/comun/linen.jpeg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Logo{
width: calc(100vh/9);
margin-top: 6px;
display: block;
align-items: center;
margin-right: 20px;
}

.Logo img{
height:calc(100vh/10);
}

.Logo img:hover{
transform: rotate(360deg);
transition: all 1s;
}

.marcyperlaan {
   /* width: auto;*/
    max-width: 6cm; /* Ajusta el tamaño máximo de la marca */
    margin-left: auto;
}

.insta {
    width: 25px;
    height: 25px;
    /* Espacio entre el ícono y el texto (ajusta según tus preferencias) */
    text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
    color: #fff; /* Cambia el color del texto si es necesario */
    font-size: 18px; /* Cambia el tamaño de fuente si es necesario */
    display: block;
    margin: 20px auto; 
    align-items: center;

}

.insta:hover {
    color: #ff69b4; /* Cambia el color del texto al pasar el mouse si es necesario */
    transition: color 0.3s; /* Agrega una transición de color suave */
}
h1 {
    
    font-size: 24px;
    color: #333;
}

main {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
      /*right: 10px; /* Ajusta la distancia desde la derecha según tus preferencias */
    /*background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;*/
    /* bottom: 10px; Ajusta la distancia desde abajo según tus preferencias */
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Coloca el botón en su propia línea para centrar verticalmente */
}
}

form button:hover {
    background-color: #555;
}

footer {
display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según tus necesidades */
}

